<h1>Edit movie</h1>

<%# It's pre-populated thanks to the before_action in the controller, which generates the instance variable for this %>

<%= form_with model: @movie do |form| %>
    <div class="row g-2">
        <%= form.label :title%>
        <%= form.text_field :title, required:true%>
    </div>
    <div class="row g-2">
        <%= form.label :price%>
        <%= form.number_field :price, required:true, step: 0.01 %>
    </div>
    <div class="row g-2">
        <%= form.label :genre%>
        <%= form.text_field :genre, required:true%>
    </div>
    <div class="row g-2">
        <%= form.label :year%>
        <%= form.text_field :year, required:true%>
    </div>
    <div class="row g-2">
        <%= form.label :length%>
        <%= form.number_field :length, required:true%>
    </div>

    <%=form.submit "Edit movie" %>
    
<%end%>